# Connection string PostgreSQL kamu
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/testing?schema=public"

# Port server Express
PORT=4000

# Batas ukuran file upload (MB)
MAX_UPLOAD_MB=15
